/*------------------------------------------------ Fonts ------------------------------------------------*/

/*------------------------------------------------ Layout ------------------------------------------------*/
 .d_content_wrap {
    width: 100%;
}
.d_content_center, .d_category, .d_header, .d_headline {
    width: 1024px;
    margin: 0 auto;
}
/*------------------------------------------------ Text ------------------------------------------------*/
 strong {
    font-size: inherit;
    font-family:'OpenSansSemibold', sans-serif;
    font-weight: 500;
}
/*------------------------------------------------ Assets ------------------------------------------------*/
 .d_btn {
    overflow: hidden;
    display: block;
    padding: 0 14px;
    height: 31px;
    line-height: 31px;
    color: #ffffff;
    text-decoration: none;
    font: 500 14px/31px'OpenSansSemibold', sans-serif;
    text-transform: uppercase;
	width: 170px;
margin: 0 auto;
border-left:#237a14 3px solid;
border-bottom:#237a14 3px solid;
}

.d_btn {}
.d_green {
    background-color: #2fb91b;
}
.d_btn .d_textWrap {
    transition: all 0.3s;
}
.d_btn:hover .d_textWrap {
    margin-top: -30px;
}
.d_btn .d_download, .d_btn .d_fully {
    display: block;
    width: 100%;
}
.d_btn .d_fully {
    font-size: 12px;
}
/*------------------------------------------------ Tabs section ------------------------------------------------*/
 .d_tabs {
    overflow:hidden;
}
.d_tabs>li {
    float: left;
    padding: 6px 20px;
    background-color: #eee;
    color: #bbb;
    border-right: solid 1px #ddd;
    cursor:pointer;
}
.d_tabs>li.d_selected {
    background-color: #ddd;
    color: #404040;
}
.d_tabContent>li {
    display:none;
}
.d_tabContent>li.d_show {
    display:block;
}
/*------------------------------------------------ Hero Area ------------------------------------------------*/
 .d_hero_area {
    padding-bottom: 30px;
}
.d_hero_area .d_headline {
    padding: 30px 0 24px;
    font: 400 30px'OpenSansRegular', sans-serif;
    text-align: center;
}
.d_quadrant {
    overflow: hidden;
}
.d_quadrant.d_buttons>li {
    padding: 0 1% 15px 1%;
}

.d_featuredProducts> li{
	height:220px;
}

.d_quadrant>li {
    position: relative;
    float: left;
    width: 22.25%;
    padding: 1% 1% 0 1%;
    text-align: center;
}

.d_quadrant>li p{
	color:#333;
}

.d_quadrant li.NM {
    background-color: #fcbb23;
}
.d_quadrant li.SM  {
    background-color: #87cc17;
}
.d_quadrant li.LEM  {
    background-color: #25a6bc;
}
.d_quadrant li.DP  {
	background-color: #46d8cb;
}
.d_quadrant li h2 {
    min-height: 25px;
    font: 700 14px'OpenSansBold', sans-serif;
    color: #000000;
    color: rgba(0, 0, 0, 0.5);
	margin-bottom:5px;
}
.d_quadrant li .screenshot {
	text-align:center;
}
.d_quadrant li .screenshot img {
    border:5px solid;
	width: 194px;
    height: 116px;
}
.d_quadrant li.NM .screenshot img{
    border-color: #d69a21;
    
}
.d_quadrant li.SM .screenshot img{
    border-color: #71a015;
  
}
.d_quadrant li.DP .screenshot img{
    border-color: #3aaa9f;

}
.d_quadrant li.LEM .screenshot img{
    border-color: #218693;
   
}
.d_quadrant>li+li {
    margin-left: 1%;
}
/*------------------------------------------------ Search section ------------------------------------------------*/
 .btnSearch {
	display: block;
	margin: 9px 5px 0 0;
	border: none;
	padding: 1px 7px;
	margin-top: 9px;
	font: 200 14px 'OpenSansBold', sans-serif;
	color: #666
}
.d_searchBarBox {
    background: #fafafa;
    border-top: 1px #bbb solid;
}
.d_searchBar {
    overflow:hidden;
    display: block;
    padding: 17px 0;
}
.d_searchBar p {
    float:left;
    font: normal 600 14px/13px'OpenSansBold', sans-serif;
    margin-right: 5px;
    color: #878787;
}
.searchText {
    width:180px;
    height:16px;
    float:left;
    margin: 9px 5px 0 0;
    background-color:#d8d8d8;
    border:none;
    padding: 2px;
    padding: 2px;
}

.d_searchBar select{
	background: #efefef;
	font: 400 18px'OpenSansRegular',sans-serif;
	color: #000;
	padding: 3px 5px;
	border: 1px solid #ddd;
}

.productSearchResult.ng-enter,.productSearchResult.ng-leave{
	-webkit-transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

.productSearchResult.ng-enter{
	opacity:0;
} 

.productSearchResult.ng-enter.ng-enter-active{
	opacity:1;
}

.productSearchResult.ng-leave{} 

.productSearchResult.ng-leave.ng-leave-active{
	opacity:0;
}

/*------------------------------------------------ Category section ------------------------------------------------*/
 .d_categoryTitle {
    height:40px;
    margin: 15px 0 30px 0;
    margin: 15px 0 30px 0;
	color:#333;
}
.d_categoryTitle p {
    font: 400 30px'OpenSansRegular',sans-serif;
    width: 1024px;
    margin:0 auto;
}
.cat-nm p {
    color:#faba23
}
.cat-sm p {
    color:#86cc17
}
.cat-lem p {
    color:#359ac0
}
.cat-dp p {
    color:#45d7cb
}
.freetools-title {
    width: 1024px;
    margin: 0 auto;
}
.freetools-title p {
    font-size: 30px;
    margin: 15px 0;
}
.d_productsBySearch {
	overflow:hidden;
	padding: 17px 0;
    background: #ddd;
    background: -moz-linear-gradient(top, #eee 0, #ddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ddd));
    background: -webkit-linear-gradient(top, #eee 0, #ddd 100%);
    background: -o-linear-gradient(top, #eee 0, #ddd 100%);
    background: -ms-linear-gradient(top, #eee 0, #ddd 100%);
    background: linear-gradient(to bottom, #eee 0, #ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#ddd', GradientType=0);
}

.d_categoryOrange {
    overflow:hidden;
    background: url(../img/flames-orange.png) #f9f6ee left center no-repeat;
    background: url(../img/flames-orange.png) left center no-repeat, -moz-linear-gradient(top, #fef1d3 0, #f9f6ee 100%);
    background: url(../img/flames-orange.png) left center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fef1d3), color-stop(100%, #f9f6ee));
    background: url(../img/flames-orange.png) left center no-repeat, -webkit-linear-gradient(top, #fef1d3 0, #f9f6ee 100%);
    background: url(../img/flames-orange.png) left center no-repeat, -o-linear-gradient(top, #fef1d3 0, #f9f6ee 100%);
    background: url(../img/flames-orange.png) left center no-repeat, -ms-linear-gradient(top, #fef1d3 0, #f9f6ee 100%);
    background: url(../img/flames-orange.png) left center no-repeat, linear-gradient(to bottom, #fef1d3 0, #f9f6ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef1d3', endColorstr='#f9f6ee', GradientType=0);
}






.d_categoryAnimate.ng-hide-add {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  
}

.d_categoryAnimate.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

 
.d_categoryAnimate.ng-hide-add.ng-hide-add-active,
.d_categoryAnimate.ng-hide-remove {
  opacity:0;
  height:0px;
  display:block!important;
}
 
.d_categoryAnimate.ng-hide-add,
.d_categoryAnimate.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
  height:auto;
	display:block!important;
}



.d_categoryGreen {
    overflow:hidden;
    background: url(../img/flames-green.png) #f3f7ed left center no-repeat;
    background: url(../img/flames-green.png) left center no-repeat, -moz-linear-gradient(top, #e2eec3 0, #f3f7ed 100%);
    background: url(../img/flames-green.png) left center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2eec3), color-stop(100%, #f3f7ed));
    background: url(../img/flames-green.png) left center no-repeat, -webkit-linear-gradient(top, #e2eec3 0, #f3f7ed 100%);
    background: url(../img/flames-green.png) left center no-repeat, -o-linear-gradient(top, #e2eec3 0, #f3f7ed 100%);
    background: url(../img/flames-green.png) left center no-repeat, -ms-linear-gradient(top, #e2eec3 0, #f3f7ed 100%);
    background: url(../img/flames-green.png) left center no-repeat, linear-gradient(to bottom, #e2eec3 0, #f3f7ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2eec3', endColorstr='#f3f4e3', GradientType=0);
}
.d_categoryAqua {
	overflow:hidden;
    background: url(../img/flames-aqua.png) #f0f7f7 left center no-repeat;
    background: url(../img/flames-aqua.png) left center no-repeat, -moz-linear-gradient(top, #d0f1e6 0, #f0f7f7 100%);
    background: url(../img/flames-aqua.png) left center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0f1e6), color-stop(100%, #f0f7f7));
    background: url(../img/flames-aqua.png) left center no-repeat, -webkit-linear-gradient(top, #d0f1e6 0, #f0f7f7 100%);
    background: url(../img/flames-aqua.png) left center no-repeat, -o-linear-gradient(top, #d0f1e6 0, #f0f7f7 100%);
    background: url(../img/flames-aqua.png) left center no-repeat, -ms-linear-gradient(top, #d0f1e6 0, #f0f7f7 100%);
    background: url(../img/flames-aqua.png) left center no-repeat, linear-gradient(to bottom, #d0f1e6 0, #f0f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0f1e6', endColorstr='#f0f7f7', GradientType=0);
}
.d_categoryBlue {
   overflow:hidden;
    background: url(../img/flames-blue.png) #eef5f6 left center no-repeat;
    background: url(../img/flames-blue.png) left center no-repeat, -moz-linear-gradient(top, #c6e5eb 0, #eef5f6 100%);
    background: url(../img/flames-blue.png) left center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c6e5eb), color-stop(100%, #eef5f6));
    background: url(../img/flames-blue.png) left center no-repeat, -webkit-linear-gradient(top, #c6e5eb 0, #eef5f6 100%);
    background: url(../img/flames-blue.png) left center no-repeat, -o-linear-gradient(top, #c6e5eb 0, #eef5f6 100%);
    background: url(../img/flames-blue.png) left center no-repeat, -ms-linear-gradient(top, #c6e5eb 0, #eef5f6 100%);
    background: url(../img/flames-blue.png) left center no-repeat, linear-gradient(to bottom, #c6e5eb 0, #eef5f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6e5eb', endColorstr='#eef5f6', GradientType=0);
}
/*------------------------------------------------ Categories ------------------------------------------------*/
 .d_categories {
    padding:12px;
    border-top: solid 10px #faba23;
	min-height:112px;
}


.NM.d_categories {
    border-top: solid 7px #faba23;
}
.SM.d_categories {
    border-top: solid 7px #86cc17;
}
.LEM.d_categories {
    border-top: solid 7px #359ac0;
}
.DP.d_categories {
    border-top: solid 7px #45d7cb;
}
.d_categories>p{
	padding: 5px 0 10px 0;
}

.d_categories>p>a {
	color:#333;
	text-decoration:none;
	display:block;
	font-size:15px;
}

.d_categories>p>a:hover{
	text-decoration:underline;
}
/*------------------------------------------------ Single Category ------------------------------------------------*/
 .d_category {
    overflow: hidden;
    padding-bottom:40px;
}
.d_category>ul {
    overflow: hidden;
    margin: -1%;
}

.d_category>ul>li {
	float: left;
	width: 31.33%;
	margin: 1%;
	background-color: #ffffff !important;
	min-height:136px;
}
.d_category>ul>li p {
    font-weight: bold;
    font-size: 15px;
	height:36px;
	padding:0px;
}
.d_options a {
    text-decoration: none;
    padding: 0 0 5px 25px;
    font-size:13px;
}
.d_features a {
    color:#7f7f7f;
    background:url(../img/icons.png) 0 -1px no-repeat;
    font-size: 13px;
}
.d_options li a:hover{
	text-decoration:underline;
}

.d_download a {
    color:#2fb81b;
    background: url(../img/icons.png) 0 -24px no-repeat;
}
.d_demo a {
    color:#3780bb;
    background:url(../img/icons.png) 0 -47px no-repeat;
}
/*------------------------------------------------ Thwack ------------------------------------------------*/
 .d_thwack {
    background-color: #333;
    padding: 50px 0;
}
.d_thwack .d_header {
    overflow: hidden;
    width: 100%;
}
.d_thwack .d_header .d_logo {
    float: left;
    margin-right: 30px;
    margin-top: 4px;
}
.d_thwack .d_header .d_subheader {
    float: left;
    color: #FFF;
}
.d_thwack .d_header .d_subheader .d_subHeadline {
    color: inherit;
    font: normal 400 26px/26px'OpenSansRegular', sans-serif;
}
.d_thwack .d_header .d_subheader .d_subHeadline+p {
    font-size: 17px;
    line-height: 20px;
    padding-top: 7px;
    color: inherit;
}
.d_thwack .d_header .d_btn.d_grey {
    float: right;
    height: 44px;
    line-height: 44px;
    padding: 0 32px;
    margin: 4px 0 0 0;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    background-color: #EBEBEB;
    text-decoration: none;
	
}
.d_thwack .d_thwackList {
    overflow: hidden;
    margin-top: 36px;
}
.d_thwack .d_thwackList>ul {
    overflow: hidden;
}
.d_thwack .d_thwackList>ul>li {
    width: 32%;
    float: left;
    background-color: #fff;
}
.d_thwack .d_thwackList>ul>li+li {
    margin-left: 2%;
}
.d_thwack .d_thwackList .d_thwackHeaders>li {
    min-height: 285px;
}
.d_thwack .d_thwackList .d_thwackHeaders>li .d_title {
    width: 100%;
    height: 45px;
    background-color: #828282;
    font: 700 17px/45px'OpenSansBold', sans-serif;
    color: #FFF;
    text-align: center;
}
.d_thwack .d_thwackList .d_thwackHeaders>li .d_userDescp {
    overflow: hidden;
    min-height: 62px;
    margin: 8% 8% 2%;
}
.d_thwack .d_thwackList .d_thwackHeaders>li .d_userDescp .picture {
    float: left;
    width: 55px;
    min-height: 55px;
    margin-right: 15px;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.d_thwack .d_thwackList .d_thwackHeaders>li .d_userDescp .d_name {
    float: left;
    font: 500 20px/17px'OpenSansSemiBold', sans-serif;
    color: #333;
    padding: 0 0 5px;
}
.d_thwack .d_thwackList .d_thwackHeaders>li .d_userDescp .d_position {
    float: left;
    max-width: 200px;
    color: #333;
    font-size: 14px;
    padding: 0 0 8px!important;
}
.d_thwack .d_thwackList .d_thwackHeaders>li .d_quote {
    float: left;
    margin: 2% 8% 8%;
    padding: 0;
    font-size: 14px;
    color: #333;
}
.d_thwack .d_thwackList .d_thwackButtons .btn.viewMore {
    display: block;
    height: 51px;
    padding: 0 51px;
    font: 500 16px/51px'OpenSansSemiBold', sans-serif;
    text-transform: none;
    color: #FFF;
    background-color: #F89D33;
    text-decoration: none;
    text-align: center;
}
