<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search Demo</title>
    <link rel="stylesheet" type="text/css" href="http://web.swcdn.net/web/css/master.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script language="javascript" src="js/angular.min.js" type="text/javascript"></script>
    <script language="javascript" src="http://web.swcdn.net/web/js/jQuery/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script language="javascript" src="js/donwloadb-js.js" type="text/javascript"></script>
</head>

<body>
    <div id="content" class="d_content_wrap">
        <div id="d_wrapper" class="d_content_wrap" ng-app ng-controller="downloadListCtrl">

            <h1 class="d_headline d_content_center">Most Popular
                <strong>FREE TRIAL DOWNLOADS</strong>To Get You Started</h1>
            <ul class="d_header d_content_center">
                <li class="d_featuredProduct" ng-repeat="product in productCat | filter:{ featured: 'yes' }">
                    <p class="productName">{{product.name}}</p>
                    <!-- ends productName -->
                    <div class="productSS">
                        <img src="{{product.imageLink}}" alt="{{product.name}}" />
                    </div>
                    <!-- ends productSS -->
                    <p class="productDesc">{{product.subTitle}}</p>
                    <!-- ends productDesc -->
                    <div class="downalodButton">
                        <a href="{{product.donwloadLink}}">DOWNLOAD FREE TRIAL</a>
                    </div>
                    <!-- ends downalodButton -->
                </li>
                <!-- ends d_featuredProduct -->
            </ul>
            <!-- ends d_header -->

            <ul class="d_tabs d_content_center">
                <li class="browseProductsTab selected">BROWSE All PRODUCTS</li>
                <li class="searchTab">FIND A PRODUCT USING KEYWORDS</li>
            </ul>
            <!-- ends d_tabs -->

            <ul class="d_tabContent">
                <li id="browseProductsTab" class="show">
                    <div class="d_productByCategorie">
                        <div class="NPM_category">
                            <div class="d_categoryTitle">
                                <p>Network Managment</p>
                            </div>
                            <!-- ends d_categoryTitle -->

                            
                            <ul class="d_category">
                                <li ng-repeat="product in productCat  | filter:{category:'NM'}">
                                    <div class="d_categories {{product.category}}">
                                        <p>{{product.name}}</p>
                                        <ul class="d_options">
                                            <li class="d_features">
                                                <a href="#">View features &#38; Specs</a> 
                                            </li>
                                            <li class="d_download">
                                                <a href="{{product.donwloadLink}}">Download Free Trial</a> 
                                            </li>
                                            <li class="d_demo">
                                                <a href="{{product.demolink}}">Interactive Demo</a> 
                                            </li>
                                        </ul>
                                        <!-- ends d_options -->
                                    </div>
                                    <!-- ends d_categories -->
                                </li>
                            </ul>
                            <!-- ends d_category -->
                        </div>
                        <!-- ends NPM_category -->

                        <div class="SAM_category">
                            <div class="d_categoryTitle cat-sm">
                                <p>Server & Aplication Manager</p>
                            </div>
                            <ul class="d_category">
                                <li ng-repeat="product in productCat | filter:{category:'SM'}">
                                    <div class="d_categories {{product.category}}">
                                        <p>{{product.name}}</p>
                                        <ul class="d_options">
                                            <li class="d_features">
                                                <a href="#">View features &#38; Specs</a> 
                                            </li>
                                            <li class="d_download">
                                                <a href="{{product.donwloadLink}}">Download Free Trial</a> 
                                            </li>
                                            <li class="d_demo">
                                                <a href="{{product.demolink}}">Interactive Demo</a> 
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- d_categories -->
                                </li>
                            </ul>
                            <!-- d_category -->
                        </div>
                        <!-- SAM_category -->

                        <div class="LEM_category">
                            <div class="d_categoryTitle cat-lem">
                                <p>Log & event Manager</p>
                            </div>
                            <!-- d_categoryTitle -->
                            <ul class="d_category">
                                <li ng-repeat="product in productCat | filter:{category:'LEM'}">
                                    <div class="d_categories {{product.category}}">
                                        <p>{{product.name}}</p>
                                        <ul class="d_options">
                                            <li class="d_features">
                                                <a href="#">View features &#38; Specs</a> 
                                            </li>
                                            <li class="d_download">
                                                <a href="{{product.donwloadLink}}">Download Free Trial</a> 
                                            </li>
                                            <li class="d_demo">
                                                <a href="{{product.demolink}}">Interactive Demo</a> 
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- d_categories -->
                                </li>
                            </ul>
                            <!-- d_category -->
                        </div>
                        <!-- LEM_category -->

                        <div class="DP_category">
                            <div class="d_categoryTitle cat-dp">
                                <p>Database Management</p>
                            </div>
                            <ul class="d_category">
                                <li ng-repeat="product in productCat | filter:{category:'DP'}">
                                    <div class="d_categories {{product.category}}">
                                        <p>{{product.name}}</p>
                                        <ul class="d_options">
                                            <li class="d_features">
                                                <a href="#">View features &#38; Specs</a> 
                                            </li>
                                            <li class="d_download">
                                                <a href="{{product.donwloadLink}}">Download Free Trial</a> 
                                            </li>
                                            <li class="d_demo">
                                                <a href="{{product.demolink}}">Interactive Demo</a> 
                                            </li>
                                        </ul><!-- d_options -->
                                    </div>
                                    <!-- d_categories -->
                                </li>
                            </ul><!-- d_category -->
                        </div>
                        <!-- DP_category -->

                    </div>
                    <!-- d_productByCategorie -->
                </li>
                <!-- ends browseProductsTab -->
                <li id="searchTab">
                    <div class="d_searchBarBox">
                        <div class="d_searchBar">
                            <p>Search Products</p>
                            <input type="text" class="searchText" ng-model="productSearchInput">
                            <a class="btnSearch" href="#"></a>
                        </div>
                    </div>
                    <div class="productsBySearch" ng-show="productSearchInput">
                        <div class="d_categoryTitle">
                            <p>Results for: "{{productSearchInput}}"</p>
                        </div>
                        <ul class="d_category">
                            <li ng-repeat="product in productCat | filter:{ tags: productSearchInput }">
                                <div class="d_categories {{product.category}}">
                                    <p>{{product.name}}</p>
                                    <ul class="d_options">
                                        <li class="d_features">
                                            <a href="#">View features &#38; Specs</a> 
                                        </li>
                                        <li class="d_download">
                                            <a href="{{product.donwloadLink}}">Download Free Trial</a> 
                                        </li>
                                        <li class="d_demo">
                                            <a href="{{product.demolink}}">Interactive Demo</a> 
                                        </li>
                                    </ul><!-- d_options -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- ends searchTab -->
            </ul>
            <!-- ends d_tabContent -->
        </div>
        <!-- ends d_wrapper -->
    </div>
    <!-- ends content -->
</body>

</html>
